# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/pubspec.lock
/ios/Podfile.lock
/devtools_options.yaml
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/.cmake/api/v1/reply/cache-v2-488a951587172e8001d8.json
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-fbef7ff7c4003704060e.json
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-afaadbc7fc8c82e879a9.json
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/.cmake/api/v1/reply/index-2025-02-20T07-33-26-0230.json
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/additional_project_files.txt
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/android_gradle_build.json
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/android_gradle_build_mini.json
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/build.ninja
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/build_file_index.txt
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/cmake_install.cmake
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/CMakeCache.txt
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/configure_fingerprint.bin
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/prefab_config.json
/android/app/.cxx/Debug/5z1z1e3p/arm64-v8a/symbol_folder_index.txt
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/.cmake/api/v1/reply/cache-v2-1bb18d32b6fc40f5abcf.json
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-ea686a01d6e0be1bbb6f.json
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-1f1f81b266bb47c916f8.json
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/.cmake/api/v1/reply/index-2025-02-20T07-33-29-0767.json
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/additional_project_files.txt
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/android_gradle_build_mini.json
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/build.ninja
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/build_file_index.txt
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/configure_fingerprint.bin
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/prefab_config.json
/android/app/.cxx/Debug/5z1z1e3p/armeabi-v7a/symbol_folder_index.txt
/android/app/.cxx/Debug/5z1z1e3p/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/5z1z1e3p/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/5z1z1e3p/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/5z1z1e3p/x86/.cmake/api/v1/reply/cache-v2-24eaeb60cf9b6772c2d0.json
/android/app/.cxx/Debug/5z1z1e3p/x86/.cmake/api/v1/reply/cmakeFiles-v1-4089f5b51c804fe166f2.json
/android/app/.cxx/Debug/5z1z1e3p/x86/.cmake/api/v1/reply/codemodel-v2-7204f5e55562f497234f.json
/android/app/.cxx/Debug/5z1z1e3p/x86/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/5z1z1e3p/x86/.cmake/api/v1/reply/index-2025-02-20T07-33-32-0877.json
/android/app/.cxx/Debug/5z1z1e3p/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/5z1z1e3p/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/5z1z1e3p/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/5z1z1e3p/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/5z1z1e3p/x86/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/5z1z1e3p/x86/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/5z1z1e3p/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/5z1z1e3p/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/5z1z1e3p/x86/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/5z1z1e3p/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/5z1z1e3p/x86/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/5z1z1e3p/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/5z1z1e3p/x86/additional_project_files.txt
/android/app/.cxx/Debug/5z1z1e3p/x86/android_gradle_build.json
/android/app/.cxx/Debug/5z1z1e3p/x86/android_gradle_build_mini.json
/android/app/.cxx/Debug/5z1z1e3p/x86/build.ninja
/android/app/.cxx/Debug/5z1z1e3p/x86/build_file_index.txt
/android/app/.cxx/Debug/5z1z1e3p/x86/cmake_install.cmake
/android/app/.cxx/Debug/5z1z1e3p/x86/CMakeCache.txt
/android/app/.cxx/Debug/5z1z1e3p/x86/configure_fingerprint.bin
/android/app/.cxx/Debug/5z1z1e3p/x86/metadata_generation_command.txt
/android/app/.cxx/Debug/5z1z1e3p/x86/prefab_config.json
/android/app/.cxx/Debug/5z1z1e3p/x86/symbol_folder_index.txt
/android/app/.cxx/Debug/5z1z1e3p/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/5z1z1e3p/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/5z1z1e3p/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/5z1z1e3p/x86_64/.cmake/api/v1/reply/cache-v2-6bd0df6906a278d159e4.json
/android/app/.cxx/Debug/5z1z1e3p/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-f6071132854fad310afa.json
/android/app/.cxx/Debug/5z1z1e3p/x86_64/.cmake/api/v1/reply/codemodel-v2-d3bb7beedbffc1019fcf.json
/android/app/.cxx/Debug/5z1z1e3p/x86_64/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/5z1z1e3p/x86_64/.cmake/api/v1/reply/index-2025-02-20T07-33-35-0654.json
/android/app/.cxx/Debug/5z1z1e3p/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/5z1z1e3p/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/5z1z1e3p/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/5z1z1e3p/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/5z1z1e3p/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/5z1z1e3p/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/5z1z1e3p/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/5z1z1e3p/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/5z1z1e3p/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/5z1z1e3p/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/5z1z1e3p/x86_64/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/5z1z1e3p/x86_64/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/5z1z1e3p/x86_64/additional_project_files.txt
/android/app/.cxx/Debug/5z1z1e3p/x86_64/android_gradle_build.json
/android/app/.cxx/Debug/5z1z1e3p/x86_64/android_gradle_build_mini.json
/android/app/.cxx/Debug/5z1z1e3p/x86_64/build.ninja
/android/app/.cxx/Debug/5z1z1e3p/x86_64/build_file_index.txt
/android/app/.cxx/Debug/5z1z1e3p/x86_64/cmake_install.cmake
/android/app/.cxx/Debug/5z1z1e3p/x86_64/CMakeCache.txt
/android/app/.cxx/Debug/5z1z1e3p/x86_64/configure_fingerprint.bin
/android/app/.cxx/Debug/5z1z1e3p/x86_64/metadata_generation_command.txt
/android/app/.cxx/Debug/5z1z1e3p/x86_64/prefab_config.json
/android/app/.cxx/Debug/5z1z1e3p/x86_64/symbol_folder_index.txt
/android/app/.cxx/Debug/5z1z1e3p/hash_key.txt
/android/app/.cxx/
/.scannerwork/.sonar_lock
/.scannerwork/report-task.txt
